.header {
    height: 100px;
    background-color: #347ab4;
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-inline: 1rem;
}

.navbar {
    display: flex;
    gap: 1rem;
}

.navbar > li {
    list-style-type: none;
}

.navbar > li > a {
    text-decoration: none;
    cursor: pointer;
}

.navbar > li > a:visited {
    color: white;
}
